In [2]:
import pandas as pd
import numpy as np
import talib
import tushare as ts

In [10]:
ts.set_token('4c1d16a895e4c954adc8d2a436f2b21dd4ccc514f0c5a192edaa953b')
df = ts.pro_bar(ts_code='601318.SH', start_date='20200601', end_date='20201208')
df

,ts_code,trade_date,open,high,low,close,pre_close,change,pct_chg,vol,amount
0,601318.SH,20201208,90.00,90.75,87.80,88.05,90.38,-2.33,-2.5780,863339.63,7655879.134
1,601318.SH,20201207,92.78,92.98,89.02,90.38,92.19,-1.81,-1.9633,627788.39,5675145.575
2,601318.SH,20201204,92.05,92.53,90.19,92.19,91.87,0.32,0.3483,489295.02,4464927.573
3,601318.SH,20201203,92.79,93.43,91.21,91.87,92.85,-0.98,-1.0555,509917.23,4689461.117
4,601318.SH,20201202,93.38,93.85,92.09,92.85,93.38,-0.53,-0.5676,650688.18,6049580.162
...,...,...,...,...,...,...,...,...,...,...,...
124,601318.SH,20200605,75.14,75.44,74.40,75.30,75.14,0.16,0.2129,349807.54,2618665.525
125,601318.SH,20200604,75.42,75.71,74.58,75.14,75.01,0.13,0.1733,453880.22,3410379.332
126,601318.SH,20200603,75.00,76.69,75.00,75.01,74.28,0.73,0.9828,991488.40,7515763.784
127,601318.SH,20200602,72.02,74.53,72.01,74.28,72.16,2.12,2.9379,810523.27,5968449.049
128,601318.SH,20200601,71.40,72.23,71.23,72.16,70.71,1.45,2.0506,457672.84,3296218.949

In [12]:
dw = pd.DataFrame()
dw['slowk'], dw['slowd'] = talib.STOCH(df['high'].values, df['low'].values, df['close'].values, 
                                       fastk_period=14, slowk_period=3,slowk_matype=0,slowd_period=3, slowd_matype=0)

In [13]:
dw

         slowk      slowd
0          NaN        NaN
1          NaN        NaN
2          NaN        NaN
3          NaN        NaN
4          NaN        NaN
..         ...        ...
124  82.319645  82.836784
125  73.379922  81.074354
126  60.755590  72.151719
127  53.477141  62.537551
128  37.811592  50.681441

[129 rows x 2 columns]

In [25]:
dw['slowk'].values[-1]

37.81159233918287